.main-header{
    .header{
        background-color: black;
        color: white;
        // width: 1100px !important; 
        a{
            color: white !important;
            font-weight: 500;
        }
        .explore{
            height: 40px!important;
        font-family: Sony Sketch EF;
        font-weight: 400;
        width: 202px;
        font-size: 15px;
        border-radius: 15px!important;
        // box-shadow: 0 1px 3px rgb(0 0 0 / 70%);
        border: 2px solid #91dbff;
        padding: 0!important;
        display: inline-block;
        margin-right: 20px;
        background-image: linear-gradient(180deg,#033047,#91dbff)!important;
        opacity: 1;
        &:hover{
            border: 2px solid #91dbff;
        }
        }
        .market{
            height: 40px!important;
            font-family: Sony Sketch EF;
            font-weight: 400;
            width: 202px;
            padding: 0!important;
            display: inline-block;
            border: 2px solid #13c477;
            margin-right: 20px;
            // box-shadow: 0 1px 3px rgb(0 0 0 / 70%);
            font-size: 15px;
        border-radius: 15px!important;
        background-image: linear-gradient(180deg,#033047,#13c477)!important;
        &:hover{
            border: 2px solid #13c477;
        }
        }
        .navbar-toggler{
            background-color: white;
        }
       
       
    }
    .download{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 308px; 
        .btn-client{
            border-radius: 0px;
            background-color: #08f;
            border: 2px solid #1290ff ;
            // border: 4px solid #fff !important;
            // background: radial-gradient(circle,#fff 19%,#1290ff 100%);
            -webkit-clip-path: polygon(22% 0,100% 0,100% 100%,11% 100%);
            background: linear-gradient(90deg,#024675 0,#007ce5 36%,#0082f3 41%,#0083f5 44%,#007fec 49%,#0175d7 56%,#03324b);
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover{
                // border: none !important;
                color: none !important;
            }
            
        }   
        .join{
            border-radius: 0px;
            border: 2px solid #9c2b00;
            background: linear-gradient(90deg,#9c2b00 0,#e45600 33%,#f05d00 40%,#f35f00 46%,#ee5c00 50%,#dc5100 60%,#841d00);
            position: relative;
            -webkit-clip-path: polygon(11% 0,100% 0,100% 100%,0 100%);
            clip-path: polygon(11% 0,100% 0,100% 100%,0 100%);
            padding-top: 13px;
            padding-bottom: 13px;
            .web{
                background-color:#ff6500 !important;
                padding: 10px;
            }
        }
    }
}
.hero{
    background-image: url("../public/Assets/landing.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    position: relative;
    // overflow: hidden;
    .hero-video{
        position: relative;
        overflow: hidden;
        width: 100% !important;
        height: 100%;
    }
    .row>*{
        padding-left: 0px !important ;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .carousel.carousel-slider .control-arrow {
        // position: absolute !important;
        width: 61px !important;
        border-radius: 50% !important ;
        margin-left: 55px !important;
        margin-right: 830px;
        background-color: black !important;
        bottom: 16px !important;
        margin-top: 690px !important;
        &:hover{
            background-color: black !important;
        }
    }
   
    .carousel .control-dots{
        width: 42%;
        padding-top: 30px !important;
        // background-color: wheat !important;
        background-color: rgba(116,177,208,.9058823529411765) !important;
        padding-bottom: 30px !important;
        margin-bottom: 0px !important;
    
    }
    .economy{

        .explore{
            height: 40px!important;
            color: white !important;;
        font-family: Sony Sketch EF;
        font-weight: 400;
        width: 140px;
        margin-left: 30px;
        font-size: 15px;
        border-radius: 15px!important;
        // box-shadow: 0 1px 3px rgb(0 0 0 / 70%);
        border: 2px solid #91dbff;
        // padding: 0!important;
        display: inline-block;
        // margin-right: 20px;
        background-image: linear-gradient(180deg,#033047,#91dbff)!important;
        opacity: 1;
        &:hover{
            border: 2px solid #91dbff;
        }
        }

    }
    .access{
        margin-left: 5px;
        font-family: Sony Sketch EF;
    font-size: 27px;
    font-weight: 400;
    text-shadow: 0 0 4px #0fffff;
        border-bottom: 4px solid #13c477;
        width: 300px !important;
    }
   
}
.community{
    background-image: url("../Media/community.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    h1{
        font-size: 42px;
        font-weight: 700;
    }
    .twitter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .twitter-icon
        {
            display: flex;
            padding:10px;
            border: 3px solid;
            border-radius: 50%;
            width: 80px;
            justify-content: center;
            margin-left: 220px;
            margin-bottom: 25px !important;
        }
        .discord-icon{
            display: flex;
            padding:10px;
            border: 3px solid;
            border-radius: 50%;
            width: 80px;
            justify-content: center;
            margin-left: 520px;
            margin-bottom: 25px !important;
        }
    }
}
.footer{
    color: white;
    background-color: black;
    
}
.available{
    // background-color: #007ce5;
    border: 2px solid #91dbff;
    background-image: linear-gradient(90deg,rgba(145,219,255,0) 0,rgba(145,219,255,.5) 50%,rgba(145,219,255,0));
    h1{
        text-shadow: 0 0 8px rgb(145 219 255 / 75%);
    color: #fff;
    font-family: Sony Sketch EF;
    font-size: 2.1rem;
    font-weight: 400;
    // margin: 0;
    }
}
.social{
    background-color: rgba(255,190,0,.5) ;
    border: 2px solid #ffbe00;
    background-image: linear-gradient(90deg,rgba(145,219,255,0) 0,rgba(255,190,0,.5) 50%,rgba(145,219,255,0));
    .tele{
        border-right: 2px solid #fff;
    }
}
.sonium{
    background-image: url("../Media/somniumbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white ;
    .partner{
        font-weight: 700;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    }
    .heading{
        color: #b9e7ff !important;
        font-weight: 700 ;
    }

}
.ingame{
    background-image: url("../Media/somniumbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white ;
    h1{
        font-weight: 700;
        text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
    }
    h3{
        color: #b9e7ff;
        font-weight: 700;
    }
    .live{
        color:rgb(209, 8, 8);
    }
    .imgame-pic{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ingame-para{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // justify-content: flex-end;
    }
    

}
.virtual{
    background-image: url("../Media/somniumbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white ;
    h1{
        font-weight: 700;
    }
    .we{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
.ethereum{
    background-image: url("../Media/etherumbg.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    position: relative;
    margin-bottom: 685px;
    color: white;
    h1{
        font-weight: 700;
      
    }
    h6{
        font-weight: 600;
        font-size: 18px;
    }
    ul{
        li{
            font-size: 20px;
            line-height: 2;
            font-weight: 600;
        }
    }
    span{
        font-size: 20px !important;
    }
    .polyimg{
        margin-right:80px ;
        margin-top: 30px;
    }
    .hola{
        margin-left: 80px;
        margin-top: 30px;
    }
    // .map{
    //     background-image: url("../Media/map-bg.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // // position: absolute;
    
    // }
    // .row-img{
    //     position: absolute;
    // //     background-image: url("../Media/etherum.png");

    // }
}
.event{
    background-image: url("../Media/events.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    h1{
        font-weight: 700;
        font-size: 48px;
    }
    .calander{
        border-bottom: 2px solid #fff;
    }
    .feature{
        overflow-y: scroll;
        padding: 10px 63px 0 83px;
        scroll-snap-type: y mandatory;
        direction: rtl;
        // scroll-margin-left: 60px;
    }
    .e2{
        width: 250px;
        margin-bottom: 20px;
    }
   
}

@media screen and (max-width: 600px){
    .main-header{
        display: flex;
        flex-direction: column;
        .explore{
            margin-top: 10px;
        }
        .market{
            margin-top: 10px;
        }
         
    }
    .download{
        width: 320px !important;
    } 
    .footer{

        .footer-icon{
            display: flex;
        }
        justify-content: space-between !important;
        // padding-left: -10px !important;
        // padding-right: -10px !important;
        .getsomnium{
            display: flex;
            flex-direction: column;
        }
    }
    .available{
        .now{
            display: flex;
            // align-items: center !important;
            justify-content: center;
            
        }
    }
    .unity{
        display: none !important;
    }
    .twitter-icon{
        display: flex !important;
        // padding:10px;
        // border: 3px solid;
        // border-radius: 50%;
        // width: 80px;
        // justify-content: center;
        margin-left: 110px !important ;
        // margin-bottom: 40px !important;
    }
    .discord-icon{
        
        margin-left: 110px !important;
       
    }
    .control-dots{
        display: none!important;
    }
    iframe {
        // border: 0;
        width: 300px;
    }
    .ethereum{
        display: none!important;;
    }

}